alabaster==0.7.12
anyio==3.6.1
appdirs==1.4.4
Babel==2.10.3
certifi==2022.9.24
charset-normalizer==2.1.1
docutils==0.19
h11==0.12.0
httpcore==0.15.0
httpx==0.23.0
idna==3.3
imagesize==1.4.1
Jinja2==3.1.2
MarkupSafe==2.1.1
packaging==21.3
pydantic==1.9.1
pygls==0.12.2
Pygments==2.13.0
pyparsing==3.0.9
pyspellchecker==0.7.0
pytz==2022.4
requests==2.28.1
rfc3986==1.5.0
sniffio==1.2.0
snowballstemmer==2.2.0
Sphinx==5.2.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
starlette==0.19.1
typeguard==2.13.3
typing_extensions==4.2.0
ujson==5.5.0
urllib3==1.26.12
fastapi==0.85.0
python-dotenv==0.21.0
redis==4.3.4
selenium==4.5.0
six==1.16.0
typeguard==2.13.3
types-redis==4.3.21
types-six==1.16.21
uvicorn==0.18.3
